.PriceList .panel-heading {
  text-transform: capitalize;
  font-weight: bold;
}

.PriceList-loading {
  animation: Pricelist-fade .3s infinite alternate;
  font-size: 400%;
}

@keyframes Pricelist-fade {
  from { opacity: 0; }
}
